{
	"svelteSortOrder": "options-scripts-markup-styles",
	"svelteStrictMode": false,
	"svelteBracketNewLine": false,
	"svelteAllowShorthand": true,
	"svelteIndentScriptAndStyle": true,
	"semi": false,
	"tabWidth": 2,
	"arrowParens": "avoid",
	"bracketSpacing": false,
	"trailingComma": "none"
}
