nav.navbar > .navbar-brand > a.navbar-item {
	--bulma-navbar-item-background-l-delta: transparent;
}

.footer {
	--bulma-strong-color: black;

	background-color: rgb(229, 229, 229);
	color: black !important;
}

.footer a {
	/*border: 0.1rem solid transparent;*/
	color: black;
	font-weight: 400;
	line-height: 1.5rem;
}

.footer a:hover {
	color: #f91320;
}

/*.footer .navbar-item {*/
/*	padding: 0 !important;*/
/*}*/

/*.footer .navbar-item:hover {*/
/*	background-color: unset;*/
/*	color: #363636;*/
/*}*/
