//card 

.condensed {
  font-size: 0.9rem;
  line-height: 1.2;

  .svelte-select {
    --height: calc(2rem + 2px) !important;
  }

  .card {
    margin-bottom: 0.7rem;
  }

  .card-header {
    min-height: 2.5rem !important;
    padding: 0.25em 0.85em !important;
  }

  .card-body {
    padding: 0.50em 0.85em;
  }

  .card-header .card-tools {
    margin: -0.25rem 0rem -0.25rem 0;
  }



  .col-xl,
  .col-xl-auto,
  .col-xl-12,
  .col-xl-11,
  .col-xl-10,
  .col-xl-9,
  .col-xl-8,
  .col-xl-7,
  .col-xl-6,
  .col-xl-5,
  .col-xl-4,
  .col-xl-3,
  .col-xl-2,
  .col-xl-1,
  .col-lg,
  .col-lg-auto,
  .col-lg-12,
  .col-lg-11,
  .col-lg-10,
  .col-lg-9,
  .col-lg-8,
  .col-lg-7,
  .col-lg-6,
  .col-lg-5,
  .col-lg-4,
  .col-lg-3,
  .col-lg-2,
  .col-lg-1,
  .col-md,
  .col-md-auto,
  .col-md-12,
  .col-md-11,
  .col-md-10,
  .col-md-9,
  .col-md-8,
  .col-md-7,
  .col-md-6,
  .col-md-5,
  .col-md-4,
  .col-md-3,
  .col-md-2,
  .col-md-1,
  .col-sm,
  .col-sm-auto,
  .col-sm-12,
  .col-sm-11,
  .col-sm-10,
  .col-sm-9,
  .col-sm-8,
  .col-sm-7,
  .col-sm-6,
  .col-sm-5,
  .col-sm-4,
  .col-sm-3,
  .col-sm-2,
  .col-sm-1,
  .col,
  .col-auto,
  .col-12,
  .col-11,
  .col-10,
  .col-9,
  .col-8,
  .col-7,
  .col-6,
  .col-5,
  .col-4,
  .col-3,
  .col-2,
  .col-1 {
    padding-right: 5px;
    padding-left: 5px;
  }

  .row {
    margin-right: -5px;
    margin-left: -5px;
  }

	.btn {
		line-height: 1.4;
		padding: 0.25rem 0.55rem;
	}

  .btn-sm {
    padding: 4px 4px 2px 4px;
  }

  .btn-xs {
    padding: 3px 2px 1px 2px;
  }


  .elevation-4 {
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%) !important;
  }

  .table-sm th,
  .table-sm td {
    padding: 0.25rem;
  }


  .table {
    margin-bottom: 0.2em;
  }

  .form-group {
    margin-bottom: 0.6rem;
  }

  .navbar {
    font-size: 1rem;
  }

  .nav-tabs .nav-link {
    height: 100%;
  }


  h1>.badge,
  h2>.badge,
  h3>.badge {
    vertical-align: middle;
  }

  .nav-link .fas {
    vertical-align: bottom;
  }

  //! FROLA

  .fr-toolbar .fr-command.fr-btn i,
  .fr-toolbar .fr-command.fr-btn svg,
  .fr-popup .fr-command.fr-btn i,
  .fr-popup .fr-command.fr-btn svg,
  .fr-modal .fr-command.fr-btn i,
  .fr-modal .fr-command.fr-btn svg {
    margin: 4px 3px !important;
    width: 20px !important;
  }

  .fr-toolbar .fr-command.fr-btn,
  .fr-popup .fr-command.fr-btn,
  .fr-modal .fr-command.fr-btn {

    height: 30px !important;
  }

  .fr-box.fr-basic .fr-element {
    padding: 10px !important;
  }
	
  .callout {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
  }

  .content-header {
    padding: 8px 0.3rem;
  }

  .form-control {
    font-size: 1em;
    padding: 0.275rem 0.65rem;
    height: calc(1.8125rem + 2px);
  }
	
	textarea.form-control {
		height: auto;
	}

  .custom-file,
  .custom-file-input {
    height: calc(1.8125rem + 2px);
  }

  .custom-file-label {
    height: calc(1.8125rem + 2px);
  }

  .input-group,
  label:has(> input[type=checkbox]) {
	  height: calc(1.8125rem + 2px) !important;
  }

  // .selectContainer {
  //   --height: calc(2rem + 2px) !important;
  // }

  .input-group-prepend {
    height: 100%;
  }

  .input-group-append {
    height: 100%;
  }

  .alert-dismissible {
    padding-right: 3rem;
  }

  .alert {
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
  }

  .content-header h1 {
    font-size: 1.5rem !important;
  }

  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    padding-left: 5px;
    padding-right: 5px;
  }

  .table-sm tr {
    line-height: 1.3;
  }
}
