.data-table {
	width: 100%;

	th {
		white-space: nowrap;

		&.actions {
			width: 1px;
			padding-right: 1rem;
		}

		&.selecthor-column {
			width: 2rem;
		}
	}

	td, th {
		&.actions {
			white-space: nowrap;
		}
	}

	td {
		line-height: 1 !important;

		&.actions {
			padding-top: 0.1rem !important;
			padding-bottom: 0.1rem !important;
		}
	}
}

.table {
	&.center-align-cells {
		tr td {
			vertical-align: middle;
		}
	}

	th.numbering {
		width: 1rem;
	}

	td.no-data {
		text-align: center;
		padding-top: 1rem;
		font-size: 1.2rem;
		font-style: italic;
	}
}

.no-first-border tr th {
	border-top: none;
}

