table,
div.table {
	display: table;

	&.sortable {
		.thead {
			user-select: none;
		}
	}

	.thead {
		display: table-header-group;
	}

	.tbody {
		display: table-row-group;
	}

	.tfoot {
		display: table-footer-group;
	}

	tr,
	.tr {
		display: table-row;

		&.no-data {
			text-align: center;
		}

		&:has(> .fw:only-child) {
			position: relative;
		}

		.th, .td {
			padding: 0.35rem 0.75rem !important;
			border-top: 1px solid #dee2e6;
		}

		.th {
			display: table-cell;
			white-space: nowrap;
		}

		.td {
			display: table-cell;
			vertical-align: middle;

			&.fw {
				width: 100%;
				position: absolute;
				//display: table-cell;
			}
		}
	}
}
