@import "./variables";
@import "./bootstrap-variables-overrides";

@import "#/@validide/resizable-table-columns/dist/css/resizable-table-columns.min.css";

// boostrap related
@import "#/bootstrap/scss/functions";
@import "#/admin-lte/build/scss/bootstrap-variables";
@import "#/bootstrap/scss/bootstrap";

// adminlte related
@import "#/admin-lte/build/scss/variables";
@import "#/admin-lte/build/scss/mixins";
@import "#/admin-lte/build/scss/parts/core";
@import "#/admin-lte/build/scss/parts/components";
@import "#/admin-lte/build/scss/parts/extra-components";
@import "#/admin-lte/build/scss/parts/pages";
@import "#/admin-lte/build/scss/parts/plugins";
@import "#/admin-lte/build/scss/parts/miscellaneous";

@import "#/@fortawesome/fontawesome-free/css/all.min.css";
@import "#/toastr/build/toastr.min.css";


@import "#/tippy.js/dist/tippy.css";

// custom styles
@import "./colors";
@import "./adminlte-fixes";
@import "./bootstrap-overrides";
@import "./svelte-select-overrides";
@import "./data-table";
@import "./overrides";
@import "./theme/main";
@import "./uppy-overrides";
@import "./squared-corners";
@import "./condensed-override";
@import "./flexing";
@import "./div-table";
@import "./sortable-table";

.card-header,
.top-panel {
	display: flex;
	flex-wrap: wrap;
	gap: .25rem;

	.filters {
		display: flex;
		flex: 1;
		row-gap: 7.5px;
		min-width: 15rem;

		.clear-button-parent {
			margin-left: 7.5px;
		}

		.one-line {
			width: 100%;
			height: 1em;
		}
	}
}

.top-panel {
	margin-bottom: .5rem;
}

.auto-scroll {
	white-space: nowrap;
}

.show-pointer {
	cursor: pointer;
}

.highlight-on-hover:hover {
	color: var(--primary);
}

.row {
	.vr {
		width: 1px;
		align-self: stretch;
		border: .5px solid lightgray;
		margin: -0.1rem;

		&::before {
			content: "";
		}
	}
}

.full-height {
	height: 100%;
}

.scroll-auto {
	overflow: auto;
}

.min-full-height {
	min-height: 100%;
}
