@import "./variables";
@import "./bootstrap-variables-overrides";

@import "#/@validide/resizable-table-columns/dist/css/resizable-table-columns.min.css";

// AdminLTE and Bootstrap
// Variables and Mixins
// ---------------------------------------------------
@import "bootstrap/scss/functions";
@import "admin-lte/build/scss/bootstrap-variables";
@import "admin-lte/build/scss/variables";
//@import "admin-lte/build/scss/variables-alt";
@import "admin-lte/build/scss/mixins";

@import "bootstrap/scss/bootstrap";
@import "icheck-bootstrap/icheck-bootstrap.css";

@import "admin-lte/build/scss/parts/core";
@import "admin-lte/build/scss/parts/components";
@import "admin-lte/build/scss/parts/extra-components";
@import "admin-lte/build/scss/parts/pages";
@import "admin-lte/build/scss/parts/plugins";
@import "admin-lte/build/scss/parts/miscellaneous";

@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "toastr/build/toastr.min.css";

@import "tippy.js/dist/tippy.css";

// custom styles
@import "./variables";
@import "./colors";
@import "./typography";
@import "./fonts";
@import "./adminlte-fixes";
@import "./adminlte-overrides";
@import "./bootstrap-overrides";
@import "./svelte-select-overrides";
@import "./svelte-multiselect-overrides";
@import "./data-table";
@import "./overrides";
@import "./theme/main";
@import "./uppy-overrides";
@import "./squared-corners";
@import "./condensed-override";
@import "./flexing";
@import "./div-table";
@import "./sortable-table";

:root {
	overflow: hidden;
}

.main-sidebar {
	overflow-y: auto;
	height: 100vh !important;
	display: flex;
	flex-direction: column;

	.sidebar {
		flex: 1;
		height: unset;

		&::-webkit-scrollbar {
			width: 5px;
			/* background-color: yellow; */
		}

		/* Track */
		&::-webkit-scrollbar-track {
			background: #f1f1f1;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: #888;
		}

		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
			background: #555;
		}

		.nav-item {
			max-width: 100%;
		}
	}
}

body.sidebar-collapse {
	aside.main-sidebar:not(:hover) {
		.nav-item {
			max-width: 100%;

			ul.nav {
				transition: 200ms;
				margin-left: 0 !important;
			}
		}
	}
}

.card-header,
.top-panel {
	display: flex;
	flex-wrap: wrap;
	gap: .25rem;

	.filters {
		display: flex;
		flex: 1;
		row-gap: 7.5px;
		min-width: 15rem;

		.clear-button-parent {
			margin-left: 7.5px;
		}

		.one-line {
			width: 100%;
			height: 1em;
		}
	}
}

.top-panel {
	margin-bottom: .5rem;
}

.auto-scroll {
	white-space: nowrap;
}

.highlight-on-hover:hover {
	color: var(--primary);
}

.vr {
	width: 1px;
	align-self: stretch;
	border: .5px solid lightgray;
	margin: -0.1rem;

	&::before {
		content: "";
	}
}

.full-height {
	height: 100%;
}

.scroll-auto {
	overflow: auto;
}

.min-full-height {
	min-height: 100%;
}

.nav-item.brand-nav-item {
	.nav-link {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.content-wrapper {
	background-image: url("../images/background-image.svg");
	background-size: cover;
	background-repeat: no-repeat;

	&.loading {
		width: 100% !important;
		margin-left: 0 !important;

		& > .full-height {
			height: 100vh !important;
		}
	}
}

// for long/short version of brand image
//.sidebar-mini {
//	&.sidebar-collapse {
//		.brand-image {
//			display: none !important;
//		}
//
//		.brand-image-responsive {
//			display: block !important;
//		}
//	}
//
//	.brand-image {
//		display: block !important;
//	}
//
//	.brand-image-responsive {
//		display: none !important;
//	}
//}
