.table.sortable {
	thead, .thead {
		th, .th {
			&.sorted {
				color: var(--red);
			}

			&:hover {
				background-color: var(--highlight-background-color, #eff0f1);
				//color: var(--highlight-color, #000);
			}

			& > i {
				float: right;
			}

			cursor: pointer;
		}
	}
}
