.table.sortable {
	thead, .thead {
		th, .th {
			&.sorted {
				color: var(--red);
			}

			&:not([data-no-sort]):hover {
				background-color: var(--highlight-background-color, #eff0f1);
				cursor: pointer;
				//color: var(--highlight-color, #000);
			}

			& > i {
				min-height: 1px;
				float: right;
			}
		}
	}
}
