:root {
	--multiselect-option-highlight-background: #d40511
}

.is-dhl-yellow,
.btn-warning {
	background-color: #FFCC00 !important;
	border-color: #FFCC00 !important;
}

.btn-primary,
.page-item.active .page-link {
	background-color: #094074 !important;
	border-color: #094074 !important;
	color: white;
}

.btn-danger {
	background-color: #FF5E5B !important;
	border-color: #FF5E5B !important;
}

.btn-success {
	background-color: #06908F !important;
	border-color: #06908F !important;
}
